<div>
  <h1>Payment or Charge</h1>
  <p>If making a payment, please enter the amount as a negative number.
    eg. Enter a $100 payment as -100</p>
    <%=form_for @transaction, url: account_transactions_path(@account), method: "POST" do |f| %>
      <%=f.label :amount%>
      <%=f.text_field :amount%>
      <%=f.submit%>
    <%end%>
</div>
